img{
    max-width:50%;
    max-height:50%;
    width: auto;
    height: auto;
}

body{
    text-align: center;
    color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    border-top: 50px solid #45543D;
}

h1, h2, h3, h4 {
    font-weight: inherit;
    color: #363636;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px
}